.countdown{
    font-size: 300px;
    text-align: center;
}

h3 {
    margin: 10px 0 0 0;
}

.start {
    border-radius: 1.5rem;
    align-items: center;
    min-width: 70px;
    min-height: 50px;
    /*max-width: 100px;*/
}

.cooldown{
    color: green;
    margin: 10px 0 0 0;
}

.buttons{
    margin: 20px 0 0 0;
}
