@implements IDisposable

<div>
<div>
<h3>Minutes</h3>
<input disabled=@buttonDisable type="number" @bind="baseMinute" />
<h3 class="repeatInput">Repeat</h3>
<input disabled=@buttonDisable type="number" @bind="repeat" />
@* <h3>Gap between each interval</h3>
<input type="number" @bind="cooldownInterval" /> *@
</div>


<div class="buttons">
<button class="start" disabled=@buttonDisable @onclick="StartTimer">Start</button>
<button class="start" @onclick="StopTimer">Stop</button>
<button class="start" disabled=@buttonDisable @onclick="ResetTimer">Reset</button>
</div>

<div>

</div>

</div>
    
@* <button disabled=@buttonDisable @onclick="DecrementMinute">-</button>
@baseMinute
<button disabled=@buttonDisable @onclick="IncrementMinute">+</button> *@

@if (!@cooldownPeriod)
{
    <div class="cooldown"><h3>Cooldown Timer @secondTimer s</h3></div>
}
<div class="countdown">
@secondTimer
</div>


@code {
    public int _repeat { get; set; }
    public uint secondTimer { get; set; } = 0;
    public int baseMinute { get; set; } = 0;
    public int repeat { get; set; } = 0;
    private uint secondMultiplier = 60;
    public int cooldownInterval { get; set; } = 10;
    public bool cooldownPeriod { get; set; } = true;
    public bool buttonDisable { get; set; }
    private System.Timers.Timer timer = new System.Timers.Timer(1000);

    private void StopTimer()
    {
        timer.Stop();
        buttonDisable = false;
        StateHasChanged();
    }

    private void IncrementMinute()
    {
        baseMinute++;
    }

    private void DecrementMinute()
    {
        if (baseMinute != 0)
            baseMinute--;
    }

    private void ResetTimer()
    {
        timer.Stop();
        timer = new System.Timers.Timer(1000);
        buttonDisable = false;
        cooldownPeriod = true;
        baseMinute = 0;
        repeat = 0;
        StateHasChanged();
    }

    private void StartTimer()
    {
        Console.WriteLine("Started");
        buttonDisable = true;
        _repeat = repeat;      

        secondTimer = (uint) baseMinute * secondMultiplier;
        StateHasChanged();

        if (_repeat > 0)
        {
            cooldownPeriod = true;
        }

        if (baseMinute > 0)
        {
            timer.Elapsed += (sender, eventArgs) => OnTimerCallback();
            timer.Start();
            _repeat--;
        }
        else
        {
            StopTimer();
        }
    } 

    private void OnTimerCallback()
    {

        if (_repeat > 0 && secondTimer == 0 && cooldownPeriod)
        {
            System.Console.WriteLine("Cooldown started...{0}", _repeat);
            secondTimer = (uint) cooldownInterval + 1;
            StateHasChanged();
            cooldownPeriod = false;            
            System.Console.WriteLine("tick tick tick...{0}", secondTimer);
        }
        
        if (_repeat > 0 && secondTimer == 0 && !cooldownPeriod)
        {
            System.Console.WriteLine("Repeat started...{0}", _repeat);
            secondTimer = (uint) baseMinute * secondMultiplier + 1;
            StateHasChanged();     
            cooldownPeriod = true;
            _repeat--;
            System.Console.WriteLine("tick tick tick...{0}", secondTimer);
        }                

        if (_repeat > 0 && secondTimer == 0)
        {
            cooldownPeriod = true;
        }

        if (secondTimer > 0)
        {            
            _ = InvokeAsync(() =>
            {
                secondTimer--;
                StateHasChanged();
                System.Console.WriteLine("tick tick tick...{0}: {1}", secondTimer, _repeat);
            });
        }

        if (_repeat == 0  && secondTimer == 0)
        {
            System.Console.WriteLine("Timer stopped...");
            timer.Stop();
            timer = new System.Timers.Timer(1000);
            buttonDisable = false;
            cooldownPeriod = true;
            StateHasChanged();
        }
        
        //if (secondTimer == 0 || _repeat > 0)
        //{            
        //    cooldownPeriod = true;
        //    _repeat--;
        //    System.Console.WriteLine($"Timer finished...{secondTimer}:{_repeat}");
        //}
    }

    public void Dispose() => timer.Dispose();
}
